<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />
# India Socio Economic Data

## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Data Loading and Description](#section2)<br>
    - 2.1 [Content](#section2_1)
    - 2.2 [Importing packages](#section2_2)
    - 2.3 [Preprocessing function](#section2_3)
    - 2.4 [Importing the Dataset](#section2_4)
3. [Data Profiling](#section3)<br>
    - 3.1 [Understanding the Dataset](#section3_1)
    - 3.2 [Pre Profiling](#section3_2)
    - 3.3 [Preprocessing Section](#section3_3)
        - 3.3.1 [Preprocessing](#section3_3_1)
        - 3.3.2 [Merging the sheets](#section3_3_2)
    - 3.4 [Post Pandas Profiling](#section3_4)
    - 3.5 [Pre processing fuctions](#section3_5)
4. [Questions](#section4)<br>
    - 4.1 [State wise male and female population in India](#section4_1)
    - 4.2 [Sex ratio of females per 1000 males in different states of India](#section4_2)
    - 4.3 [Population of different types of age groups in India](#section4_3)
    - 4.4 [Different age group percentage in India](#section4_4)
    - 4.5 [Religion's distribution in India](#section4_5)
    - 4.6 [State wise SC populations percentage in India](#section4_6)
    - 4.7 [State wise ST populations percentage in India](#section4_7)
    - 4.8 [Literacy Rate in different states of India](#section4_8)
    - 4.9 [Populations of different Types of Workers In different states of India](#section4_9)
    - 4.10 [Populations of different Types of Workers In different states of India](#section4_10)
    - 4.11 [State wise house hold size in different states of India](#section4_11)
    - 4.12 [State wise population percentage having different drinking water source in India](#section4_12)
    - 4.13 [State wise Total GDP over the years](#section4_13)
    - 4.14 [constant 10 max GDP over the years District Level](#section4_14)
    - 4.15 [constant 10 min GDP over the years District Level](#section4_15)
    - 4.16 [constant 10 max GR over the years with respect to '2005-06' District Level](#section4_16)
    - 4.17 [constant 10 min GR over the years with respect to 2005-06 year District Level](#section4_17)
    - 4.18 [Constant 10 max/min GDP over the years, why?](#section4_18)
        - 4.18.0 [Pre defined Functions](#section4_18_0)
        - 4.18.1 [Area](#section4_18_1)
        - 4.18.2 [Population](#section4_18_2)
        - 4.18.3 [Workers](#section4_18_3)
            - 	a) [Total](#section4_18_3a)
            - 	b) ['MALE_WORKERS','FEMALE_WORKERS'](#section4_18_3b)
            - 	c) [Type of Workers](#section4_18_3c)
        - 4.18.4 [Household](#section4_18_4)
            - 	a) [Facility of household](#section4_18_4a)
            - 	b) [Resource of household](#section4_18_4b)
            - 	c) [ownership of household](#section4_18_4c)
            - 	d) [size of household](#section4_18_4d)
            - 	e) [couple of household](#section4_18_4e)
        - 4.18.5 [based on Age Group](#section4_18_5)
        - 4.18.6 [based on power parity](#section4_18_6)
    - 4.19 [constant 10 max/min growth rate over the years, why ?](#section4_19)
        - 4.19.1 [Area](#section4_19_1)
        - 4.19.2 [Population](#section4_19_2)
        - 4.19.3 [Literacy](#section4_19_3)
        - 4.19.4 [Sex Ratio](#section4_19_4)
        - 4.19.5 [% SC/ST Population](#section4_19_5)
5. [Conclusion](#section5)<br>

<a id=section1></a>

## 1. Problem Statement

#### India Socio Economic Data
##### Population data, housing data, and socio economic data for each district

2011 India census data. Includes population/demographic data , housing data and socio economic data for each district.
- What are the socioeconomic trends in different parts of India?
###### Source
- 'https://toolbox.google.com/datasetsearch/search?query=India%20Economic%20Data&docid=Qvjovv1g0RCl60t1AAAAAA%3D%3D'
- https://www.kaggle.com/webaccess/all-census-data/

<a id=section2></a>

### 2. Data Loading and Description

<a id=section2_1></a>

##### 2.1 Content

- india-districts-census-2011.csv - Population enumeration data with expanded columns.
- india_census_housing-hlpca-full.csv - Housing statistics for total (rural + urban) population by district.
- gdp_AndhraPradesh1.csv , gdp_AndhraPradesh2 : Contains GDP data for state AP.
- gdp_ArunachalPradesh.csv: Contains GDP data for state ArunachalPradesh.
- gdp_Assam1.csv, gdp_Assam2.csv : Contains GDP data for state Assam.
- gdp_Bihar1.csv , gdp_Bihar2.csv : Contains GDP data for state Bihar.
- gdp_Chattisgarh.csv : Contains GDP data for state Chattisgarh.
- gdp_Haryana.csv : Contains GDP data for state Haryana.
- gdp_HimachalPradesh.csv : Contains GDP data for state HimachalPradesh.
- gdp_Jharkhand.csv : Contains GDP data for state Jharkhand.
- gdp_Karnataka1.csv , gdp_Karnataka2.csv : Contains GDP data for state Karnataka.
- gdp_Kerala1.csv , gdp_Kerala2.csv : Contains GDP data for state Kerala.
- gdp_MadhyaPradesh.csv : Contains GDP data for state MadhyaPradesh.
- gdp_Maharashtra1.csv , gdp_Maharashtra2.csv : Contains GDP data for state Maharashtra.
- gdp_Manipur.csv : Contains GDP data for state Manipur.
- gdp_Meghalaya.csv : Contains GDP data for state Meghalaya.
- gdp_Mizoram.csv : Contains GDP data for state Mizoram.
- gdp_Odisha1.csv , gdp_Odisha2.csv : Contains GDP data for state Odhisha.
- gdp_Punjab1.csv , gdp_Punjab2.csv : Contains GDP data for state Punjab.
- gdp_Rajasthan1.csv , gdp_Rajasthan2.csv : Contains GDP data for state Rajasthan.
- gdp_Sikkim.csv : Contains GDP data for state Sikkim.
- gdp_Tamilnadu.csv : Contains GDP data for state Tamilnadu.
- gdp_Uttarakhand.csv : Contains GDP data for state Uttarakhand.
- gdp_UttarPradesh1.csv , gdp_UttarPradesh2.csv : Contains GDP data for state UttarPradesh.
- gdp_WestBengal1.csv , gdp_WestBengal2.csv : Contains GDP data for state West Bengal.

<a id=section2_1></a>

#### 2.2 Importing packages

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import os
import glob
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.graph_objs as go
import warnings
warnings.filterwarnings('ignore')

<a id=section2_3></a>

#### 2.3 Preprocessing function

In [2]:
def getCorrectState(stateName):
    if(stateName=='AndhraPradesh'):
        return 'ANDHRA PRADESH'
    elif(stateName=='ArunachalPradesh'):
        return 'ARUNACHAL PRADESH'
    elif(stateName=='Assam'):
        return 'ASSAM'
    elif(stateName=='Bihar'):
        return 'BIHAR'
    elif(stateName=='Chattisgarh'):
        return 'CHATTISGARH'
    elif(stateName=='Haryana'):
        return 'HARYANA'
    elif(stateName=='HimachalPradesh'):
        return 'HIMACHAL PRADESH'
    elif(stateName=='Jharkhand'):
        return 'JHARKHAND'
    elif(stateName=='Karnataka'):
        return 'KARNATAKA'
    elif(stateName=='Kerala'):
        return 'KERALA'
    elif(stateName=='MadhyaPradesh'):
        return 'MADHYA PRADESH'
    elif(stateName=='Maharashtra'):
        return 'MAHARASHTRA'
    elif(stateName=='Manipur'):
        return 'MANIPUR'
    elif(stateName=='Meghalaya'):
        return 'MEGHALAYA'
    elif(stateName=='Mizoram'):
        return 'MIZORAM'
    elif(stateName=='Odisha'):
        return 'ODISHA'
    elif(stateName=='Punjab'):
        return 'PUNJAB'
    elif(stateName=='Rajasthan'):
        return 'RAJASTHAN'
    elif(stateName=='Sikkim'):
        return 'SIKKIM'
    elif(stateName=='Tamilnadu'):
        return 'TAMIL NADU'
    elif(stateName=='Uttarakhand'):
        return 'UTTARAKHAND'
    elif(stateName=='UttarPradesh'):
        return 'UTTAR PRADESH'
    elif(stateName=='WestBengal'):
        return 'WEST BENGAL'

<a id=section2_4></a>

#### 2.4 Importing the Dataset

In [3]:
path = r"E:\DOCS\DATA SCIENCE COURSE\Project\DATA SETS\Indian Economic Data\all-census-data\states" # use your path
all_files = glob.glob(path + "/*.csv")

India = {}
India_GDP = {}
India_GR = {}
states =[]


for filename in all_files:
    stateName = os.path.basename(filename).strip("gdp_").strip(".csv")
    stateName = getCorrectState(stateName)
    states.append(stateName)
    India[stateName] = pd.read_csv(filename, index_col=None, header=0)
    India[stateName] =India[stateName].transpose()
    India_GDP[stateName] = India[stateName].loc[:,(India[stateName].iloc[1,:]=="GDP (in Rs. Cr.)")].iloc[2:,:]
    India_GR[stateName] = India[stateName].loc[:,(India[stateName].iloc[1,:]=="Growth Rate % (YoY)")].iloc[2:,:]
    India_GDP[stateName].columns =India[stateName].loc[:,(India[stateName].iloc[1,:]=="GDP (in Rs. Cr.)")].iloc[0,:].values
    India_GR[stateName].columns = India[stateName].loc[:,(India[stateName].iloc[1,:]=="Growth Rate % (YoY)")].iloc[0,:].values
    India_GDP[stateName]['STATE NAME'] = stateName
    India_GDP[stateName]['DISTRICT NAME'] = India_GDP[stateName].index
    India_GR[stateName]['STATE NAME'] = stateName
    India_GR[stateName]['DISTRICT NAME'] = India_GR[stateName].index
INDIA_GDP_dataset = pd.concat(India_GDP,ignore_index=True, sort=False)
INDIA_GDP_dataset['STATE NAME'] = INDIA_GDP_dataset['STATE NAME'].str.upper()
INDIA_GDP_dataset['DISTRICT NAME'] = INDIA_GDP_dataset['DISTRICT NAME'].str.upper()
INDIA_GDP_dataset.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
INDIA_GR_dataset = pd.concat(India_GR,ignore_index=True, sort=False)
INDIA_GR_dataset['STATE NAME'] = INDIA_GR_dataset['STATE NAME'].str.upper()
INDIA_GR_dataset['DISTRICT NAME'] = INDIA_GR_dataset['DISTRICT NAME'].str.upper()
INDIA_GR_dataset.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)

dataset_elementry = pd.read_csv(r"E:\DOCS\DATA SCIENCE COURSE\Project\DATA SETS\Indian Economic Data\all-census-data\elementary_2015_16.csv")
dataset_housing = pd.read_csv(r"E:\DOCS\DATA SCIENCE COURSE\Project\DATA SETS\Indian Economic Data\all-census-data\india_census_housing-hlpca-full.csv")
dataset_cencus = pd.read_csv(r"E:\DOCS\DATA SCIENCE COURSE\Project\DATA SETS\Indian Economic Data\all-census-data\india-districts-census-2011.csv")

<a id=section3></a>

### 3. Data Profiling

- In the upcoming sections we will first __understand our dataset__ using various pandas functionalities.
- Then with the help of __pandas profiling__ we will find which columns of our dataset need preprocessing.
- In __preprocessing__ we will deal with erronous and missing values of columns. 
- Again we will do __pandas profiling__ to see how preprocessing have transformed our dataset.

<a id=section3_1></a>

#### 3.1 Understanding the Dataset

In [4]:
print("INDIA_GDP_dataset.shape : ",INDIA_GDP_dataset.shape)
print("INDIA_GR_dataset.shape : ",INDIA_GR_dataset.shape)
print("dataset_elementry.shape : ",dataset_elementry.shape)
print("dataset_housing.shape : ",dataset_housing.shape)
print("dataset_cencus.shape : ",dataset_cencus.shape)

INDIA_GDP_dataset.shape :  (529, 9)
INDIA_GR_dataset.shape :  (529, 8)
dataset_elementry.shape :  (680, 800)
dataset_housing.shape :  (1908, 156)
dataset_cencus.shape :  (640, 118)

In [5]:
INDIA_GDP_dataset.columns

Index(['1999-00', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08'],
      dtype='object')

In [6]:
INDIA_GR_dataset.columns

Index(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08'],
      dtype='object')

In [7]:
dataset_elementry.columns

Index(['Unnamed: 0', 'YEAR', 'STATE NAME', 'DISTRICT NAME', 'TOTAL POULATION',
       'PERCENTAGE URBAN POPULATION', '0-6 POPULATION', 'GROWTH RATE',
       'SEX RATIO', 'PERCENTAGE SC POPULATION',
       ...
       'ALL  (UUNI ALL)', 'SC (UUNI SC)', 'ST (UUNI ST)', '(TOTCLS1G)',
       '(TOTCLS2G)', '(TOTCLS3G)', '(TOTCLS4G)', '(TOTCLS5G)', '(TOTCLS6G)',
       '(TOTCLS7G)'],
      dtype='object', length=800)

In [8]:
dataset_housing.columns

Index(['State Code', 'State Name', 'District code', 'District Name',
       'Tehsil Code', 'Tehsil Name', 'Town Code/Village code', 'Ward No',
       'Area Name', 'Rural/Urban',
       ...
       'Contition_T_Total', 'Contition_T_Good', 'Contition_T_Livable',
       'Contition_T_Dilapidated', 'Contition_R_Total', 'Residence_Good',
       'Residence_Livable', 'Residence_Dilapidated', 'Residence_cum_other',
       'Residence_cum_Good'],
      dtype='object', length=156)

In [9]:
dataset_cencus.columns

Index(['District code', 'State Name', 'District name', 'Population', 'Male',
       'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'SC',
       ...
       'Power_Parity_Rs_90000_150000', 'Power_Parity_Rs_45000_150000',
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity'],
      dtype='object', length=118)

In [10]:
INDIA_GDP_dataset.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 529 entries, (ANDHRA PRADESH,  ADILABAD) to (WEST BENGAL, UTTAR DINAJPUR)
Data columns (total 9 columns):
1999-00    518 non-null object
2000-01    518 non-null object
2001-02    518 non-null object
2002-03    524 non-null object
2003-04    524 non-null object
2004-05    529 non-null object
2005-06    491 non-null object
2006-07    283 non-null object
2007-08    62 non-null object
dtypes: object(9)
memory usage: 43.2+ KB

In [11]:
INDIA_GR_dataset.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 529 entries, (ANDHRA PRADESH,  ADILABAD) to (WEST BENGAL, UTTAR DINAJPUR)
Data columns (total 8 columns):
2000-01    518 non-null object
2001-02    518 non-null object
2002-03    518 non-null object
2003-04    524 non-null object
2004-05    524 non-null object
2005-06    491 non-null object
2006-07    283 non-null object
2007-08    62 non-null object
dtypes: object(8)
memory usage: 39.0+ KB

In [12]:
dataset_elementry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Columns: 800 entries, Unnamed: 0 to (TOTCLS7G)
dtypes: float64(13), int64(784), object(3)
memory usage: 4.2+ MB

In [13]:
dataset_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1908 entries, 0 to 1907
Columns: 156 entries, State Code to Residence_cum_Good
dtypes: float64(142), int64(9), object(5)
memory usage: 2.3+ MB

In [14]:
dataset_cencus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, District code to Total_Power_Parity
dtypes: int64(116), object(2)
memory usage: 590.1+ KB

In [15]:
INDIA_GDP_dataset.describe()

,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08
count,518.00,518.00,518.00,524.00,524.00,529.00,491.00,283.00,62.00
unique,518.00,518.00,518.00,524.00,524.00,529.00,491.00,283.00,62.00
top,2047.83,1122.26,3071.17,3071.81,2916.06,6133.54,2046.93,8248.53,2686.84
freq,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [16]:
INDIA_GR_dataset.describe()

,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08
count,518.000000,518.000000,518.000000,524.000000,524.000000,491.000000,283.000000,62.000000
unique,518.000000,518.000000,518.000000,524.000000,524.000000,491.000000,283.000000,62.000000
top,-1.790246,-1.187367,-1.394042,-1.996674,-1.353287,-1.620948,-1.337139,3.422112
freq,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
dataset_elementry.describe()

,Unnamed: 0,TOTAL POULATION,PERCENTAGE URBAN POPULATION,0-6 POPULATION,GROWTH RATE,SEX RATIO,PERCENTAGE SC POPULATION,PERCENTAGE ST POPULATION,OVERALL LITERACY,FEMALE LITERACY,...,ALL (UUNI ALL),SC (UUNI SC),ST (UUNI ST),(TOTCLS1G),(TOTCLS2G),(TOTCLS3G),(TOTCLS4G),(TOTCLS5G),(TOTCLS6G),(TOTCLS7G)
count,680.000000,6.340000e+02,631.000000,6.330000e+02,634.000000,634.000000,633.000000,633.000000,634.000000,637.000000,...,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000
mean,339.500000,1.899024e+06,24.819255,2.494264e+05,17.627886,942.678233,14.875340,17.520190,73.395189,64.635840,...,46465.307353,11444.252941,5485.394118,4530.914706,3180.994118,764.154412,898.879412,391.352941,717.679412,385.957353
std,196.443376,1.547475e+06,19.093744,1.985112e+05,11.346020,62.415774,9.149862,26.872823,10.098460,12.476193,...,57485.560854,16548.586787,9455.045146,3881.154776,3332.333288,1330.305834,1425.313485,820.868908,1194.616699,935.196354
min,0.000000,7.948000e+03,-25.350000,1.103980e+03,-58.390000,533.000000,0.000000,0.000000,37.220000,30.970000,...,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,169.750000,8.226940e+05,11.375000,1.087804e+05,12.052500,904.250000,7.500000,0.360000,66.437500,56.030000,...,7534.000000,736.750000,165.250000,1903.750000,674.750000,68.000000,17.000000,17.000000,137.000000,20.750000
50%,339.500000,1.564392e+06,19.500000,2.040779e+05,17.055000,946.000000,15.760000,4.180000,73.490000,63.880000,...,32185.500000,6816.500000,1321.000000,3555.000000,1922.500000,249.500000,129.500000,70.500000,407.000000,115.500000
75%,509.250000,2.587520e+06,32.420000,3.378675e+05,22.740000,981.000000,20.800000,21.260000,80.815000,73.570000,...,60492.750000,15300.500000,6183.500000,5944.250000,4870.500000,887.750000,1383.000000,462.000000,824.500000,319.500000
max,679.000000,1.105413e+07,100.000000,1.256855e+06,111.010000,1176.000000,50.170000,98.580000,98.760000,98.280000,...,511213.000000,153047.000000,68723.000000,24728.000000,25677.000000,16053.000000,8590.000000,8074.000000,15458.000000,11904.000000

In [18]:
dataset_housing.describe()

,State Code,District code,Tehsil Code,Town Code/Village code,Ward No,Total Number of households,Total Number of Good,Total Number of Livable,Total Number of Dilapidated,Total Number of Residence households,...,Contition_T_Total,Contition_T_Good,Contition_T_Livable,Contition_T_Dilapidated,Contition_R_Total,Residence_Good,Residence_Livable,Residence_Dilapidated,Residence_cum_other,Residence_cum_Good
count,1908.000000,1908.000000,1908.0,1908.0,1908.0,1908.0,1908.000000,1908.000000,1908.000000,1908.000000,...,1908.0,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000
mean,17.088050,320.066038,0.0,0.0,0.0,100.0,53.694209,41.547301,4.757180,96.236116,...,100.0,53.694209,41.547301,4.757180,96.236116,51.840928,39.777642,4.617820,3.763884,1.856688
std,9.392094,184.280200,0.0,0.0,0.0,0.0,14.925468,12.985402,3.091075,3.791460,...,0.0,14.925468,12.985402,3.091075,3.791460,14.883375,12.416863,3.024833,3.791460,1.620250
min,1.000000,1.000000,0.0,0.0,0.0,100.0,11.500000,6.700000,0.000000,41.300000,...,100.0,11.500000,6.700000,0.000000,41.300000,11.300000,6.400000,0.000000,0.100000,0.100000
25%,9.000000,161.000000,0.0,0.0,0.0,100.0,43.100000,31.000000,2.400000,95.500000,...,100.0,43.100000,31.000000,2.400000,95.500000,40.975000,30.000000,2.300000,1.700000,0.900000
50%,18.000000,320.000000,0.0,0.0,0.0,100.0,53.750000,41.400000,4.200000,97.200000,...,100.0,53.750000,41.400000,4.200000,97.200000,51.300000,39.400000,4.000000,2.800000,1.400000
75%,24.000000,479.000000,0.0,0.0,0.0,100.0,65.600000,51.250000,6.400000,98.300000,...,100.0,65.600000,51.250000,6.400000,98.300000,63.925000,48.900000,6.200000,4.500000,2.400000
max,35.000000,640.000000,0.0,0.0,0.0,100.0,92.100000,75.900000,19.700000,99.900000,...,100.0,92.100000,75.900000,19.700000,99.900000,90.100000,73.800000,19.500000,58.700000,17.700000

In [19]:
dataset_cencus.describe()

,District code,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
count,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,...,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000
mean,320.500000,1.891961e+06,9.738598e+05,9.181011e+05,1.193186e+06,6.793182e+05,5.138675e+05,3.146537e+05,1.617739e+05,1.528798e+05,...,786.046875,1696.456250,294.000000,215.300000,509.300000,194.204688,261.245313,455.450000,279.631250,3315.412500
std,184.896367,1.544380e+06,8.007785e+05,7.449864e+05,1.068583e+06,5.924144e+05,4.801816e+05,3.129818e+05,1.611216e+05,1.520336e+05,...,1038.854733,1720.535151,638.345281,362.684243,968.538748,424.108001,587.279450,1007.364839,1050.934537,4638.568719
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,2.614000e+03,1.822000e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000
25%,160.750000,8.178610e+05,4.171682e+05,4.017458e+05,4.825982e+05,2.764365e+05,2.008920e+05,8.320850e+04,4.230700e+04,4.267175e+04,...,236.750000,589.000000,59.000000,24.750000,95.000000,19.000000,21.000000,44.000000,18.000000,1024.250000
50%,320.500000,1.557367e+06,7.986815e+05,7.589200e+05,9.573465e+05,5.483525e+05,4.038590e+05,2.460160e+05,1.255485e+05,1.178550e+05,...,518.000000,1220.500000,149.000000,118.500000,278.000000,84.000000,85.500000,186.500000,60.500000,2238.500000
75%,480.250000,2.583551e+06,1.338604e+06,1.264277e+06,1.602260e+06,9.188582e+05,6.641550e+05,4.477078e+05,2.284602e+05,2.140502e+05,...,941.250000,2233.250000,296.500000,262.000000,564.500000,213.250000,293.000000,497.000000,215.500000,3959.000000
max,640.000000,1.106015e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.591396e+06,3.635765e+06,2.464032e+06,1.266504e+06,1.197528e+06,...,10334.000000,13819.000000,10835.000000,3595.000000,14430.000000,5027.000000,7597.000000,12624.000000,18289.000000,60163.000000

<a id=section3_2></a>

#### 3.2 Pre Profiling

- By pandas profiling, an __interactive HTML report__ gets generated which contins all the information about the columns of the dataset, like the __counts and type__ of each _column_. Detailed information about each column, __coorelation between different columns__ and a sample of dataset.<br/>
- It gives us __visual interpretation__ of each column in the data.
- _Spread of the data_ can be better understood by the distribution plot. 
- _Grannular level_ analysis of each column.

In [20]:
GDP_Pre_profile = pp.ProfileReport(INDIA_GDP_dataset)
GR_Pre_profile = pp.ProfileReport(INDIA_GR_dataset)
elementry_pre_profile =  pp.ProfileReport(dataset_elementry)
housing_pre_profile =  pp.ProfileReport(dataset_housing)
cencus_pre_profile =  pp.ProfileReport(dataset_cencus)

GDP_Pre_profile.to_file(outputfile="INDIA_GDP_dataset_pre.html")
GR_Pre_profile.to_file(outputfile="INDIA_GR_dataset_pre.html")
elementry_pre_profile.to_file(outputfile="elementry_pre.html")
housing_pre_profile.to_file(outputfile="housing_pre.html")
cencus_pre_profile.to_file(outputfile="cencus_pre.html")

Here, we have done Pandas Profiling before preprocessing our dataset, so we have named the html file as __INDIA_GDP_dataset_pre.html , INDIA_GR_dataset_pre.html , elementry_pre.html, housing_pre.html , cencus_pre.html__. Take a look at the file and see what useful insight you can develop from it. <br/>
Now we will process our data to better understand it.

<a id=section3_3></a>

#### 3.3 Preprocessing Section

<a id=section3_3_1></a>

#### 3.3.1 Preprocessing

- Making Column name in upper case in al dataset.
- Correcting the name of State/District Name.
- Replacing NaN value with NA in all Data sheet[making ready to change in next step.]

In [20]:
dataset_cencus.columns = map(str.upper, dataset_cencus.columns)
dataset_cencus['DISTRICT NAME'] = dataset_cencus['DISTRICT NAME'].str.upper()
dataset_cencus['STATE NAME'] = dataset_cencus['STATE NAME'].str.upper()
dataset_cencus.replace('NCT OF DELHI','DELHI',inplace=True)
dataset_cencus.replace('ORISSA','ODISHA',inplace=True)

dataset_housing = dataset_housing.replace('&','AND',regex=True)
dataset_housing.replace('NCT OF DELHI','DELHI',inplace=True)
dataset_housing.replace('PUDUCHERRY','PONDICHERRY',inplace=True)
dataset_housing.columns = map(str.upper, dataset_housing.columns)
dataset_housing['DISTRICT NAME'] = dataset_housing['DISTRICT NAME'].str.upper()
dataset_housing['STATE NAME'] = dataset_housing['STATE NAME'].str.upper()
dataset_housing = dataset_housing.loc[dataset_housing['RURAL/URBAN'] == 'Total']

dataset_elementry['DISTRICT NAME'] = dataset_elementry['DISTRICT NAME'].str.upper()
dataset_elementry['STATE NAME'] = dataset_elementry['STATE NAME'].str.upper()

dataset_elementry = dataset_elementry.replace(np.NaN,'NA',regex=True)
dataset_cencus = dataset_cencus.replace(np.NaN,'NA',regex=True)
dataset_housing = dataset_housing.replace(np.NaN,'NA',regex=True)

<a id=section3_3_2></a>

#### 3.3.2 Merging the sheets  
##### [ To have One dataset to use]

In [22]:
dataset_cencus_housing = dataset_cencus.merge(dataset_housing,on=['STATE NAME','DISTRICT NAME'],how='left')
dataset_cencus_housing_elementry = dataset_cencus_housing.merge(dataset_elementry,on=['STATE NAME','DISTRICT NAME'],how='left')

dataset_cencus_housing_elementry.replace('NA',np.NaN,inplace=True)
dataset_cencus_housing_elementry = dataset_cencus_housing_elementry.replace(',','',regex=True)
dataset_cencus_housing_elementry = dataset_cencus_housing_elementry.fillna(method = 'bfill', axis=0).fillna(0)
#dataset_cencus_housing_elementry['STATE NAME'] = dataset_cencus_housing_elementry['STATE NAME'].str.title()

dataset_cencus_housing_elementry_GDP = dataset_cencus_housing_elementry.merge(INDIA_GDP_dataset,on=['STATE NAME','DISTRICT NAME'],how='left')

dataset_cencus_housing_elementry_GDP = dataset_cencus_housing_elementry_GDP.replace(np.NaN,'NA',regex=True)
dataset_cencus_housing_elementry_GDP.replace('NA',np.NaN,inplace=True)
dataset_cencus_housing_elementry_GDP = dataset_cencus_housing_elementry_GDP.fillna(method = 'bfill', axis=0).fillna(0)

we have made one sheet having all details: __dataset_cencus_housing_elementry_GDP___ .

<a id=section3_4></a>

### 3.4 Post Pandas Profiling

In [23]:
INDIA_cencus_housing_elementry_GDP_post_profile = pp.ProfileReport(dataset_cencus_housing_elementry_GDP)
INDIA_cencus_housing_elementry_GDP_post_profile.to_file(outputfile="INDIA_cencus_housing_elementry_GDP_post.html")

There are many distint value in maximum columns (Rejected by pandas profiling), some are having zeros.
we are not considering those columns for our analysis.

<a id=section3_5></a>

### 3.5 Pre processing fuctions

- Defination of Standerised fuction.

In [24]:
import plotly
#plotly.tools.set_credentials_file(username='ankur001', api_key='9viRqlIsupXGw2qyWCmn')
#plotly.tools.set_credentials_file(username='ankur0000', api_key='IF7oHqcnz416bMhUkMVn')
#plotly.tools.set_credentials_file(username='ankur0001', api_key='KrMWlVVvcEFK285yZGCK')
plotly.tools.set_credentials_file(username='ankur00000', api_key='xpUhYvRc1ekMpdkzTwOV')

def getDataSet(columnName):
    name=dataset_cencus_housing_elementry_GDP[['STATE NAME','DISTRICT NAME']]
    for column in columnName:
        name[column] =dataset_cencus_housing_elementry_GDP[column]
    name.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
    name.rename(index={'BANGALORE':'BANGALORE URBAN','NORTH TWENTY FOUR PARGANAS':'24-PARGANAS (NORTH)','BARDDHAMAN':'BURDWAN','UPPER SIANG':' SIANG: UPPER','NORTH  DISTRICT':'NORTH','UPPER SUBANSIRI':' SUBANSIRI: UPPER','EAST KAMENG':' KAMENG: EAST','TAWANG':' TAWANG','DIBANG VALLEY':' DIBANG VALLEY','GONDIYA':'GONDIA','MAHBUBNAGAR':' MAHABUBNAGAR',    'KARIMNAGAR':' KARIMNAGAR',    'RANGAREDDY':' RANGAREDDY',                      'JAISALMER':'JAISALMER',    'CHHATTISGARH':'CHATTISGARH',    'KORIYA':' KORIYA',    'SURGUJA':' SURGUJA',    'ANUGUL':' ANGUL',    'RAIGARH':' RAIGARH'  ,  'LAHUL AND SPITI':' LAHAUL AND SPITI',    'JASHPUR':' JASHPUR'                      }, inplace= True)
    return name

def drowLineChart(dataset,graphName):
    data =[]

    for column in dataset.columns:
        data.append(go.Scatter(
        x = dataset.index.get_level_values(1).values,
        y = dataset[column],
        name=column,
        ))
    layout = go.Layout(
        title=graphName
    )
    fig = go.Figure(data=data, layout=layout)
    #if(len(dataset.columns)>5):
     #   return py.iplot(fig, filename='hide-legend')
    #else:
    return py.iplot(fig, filename='grouped-bar')

def drowStackedBarChart(dataset,graphName):
    data =[]

    for column in dataset.columns:
        data.append(go.Bar(
        x = dataset.index.get_level_values(1).values,
        y = dataset[column],
        name=column,
        ))
    layout = go.Layout(
        barmode='stack',
        title=graphName
    )


    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename='grouped-bar')

<a id=section4></a>

### 4. Questions

<a id=section4_1></a>

#### 4.1 State wise male and female population in India

In [25]:
Male_Female_State_data =  dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['MALE','FEMALE']].sum().rename(columns={'POPULATION':'TOTAL'})

In [26]:
trace1 = go.Bar(
    x=Male_Female_State_data.index,
    y=Male_Female_State_data["MALE"],
    name='Male Population'
)
trace2 = go.Bar(
    x=Male_Female_State_data.index,
    y=Male_Female_State_data["FEMALE"],
    name='Female Population'
)

data = [trace1, trace2]

layout = go.Layout(
    barmode='stack',
    title='Male-Female Population'
)


fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

<a id=section4_2></a>

#### 4.2 Sex ratio of females per 1000 males in different states of India

In [27]:
dataset_cencus_housing_elementry_GDP['SEX RATIO'] = (dataset_cencus_housing_elementry_GDP['FEMALE'].div(dataset_cencus_housing_elementry_GDP['MALE'])).multiply(1000)
sex_ratio_State_data = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['SEX RATIO']].mean().round()

In [28]:
data = [go.Bar(
            x=sex_ratio_State_data.index,
            y=sex_ratio_State_data["SEX RATIO"]
    )]

py.iplot(data, filename='basic-bar')

- Kerla , Pondicherry, Uttarakhand having > 1000 ratio {Female are more than Male out of 1000}.
- Tamilnadu, Andhrapradesh ,Chhatisgadh & Odisha are nearly equal ratio.
- DADRA AND Haweli & Daman and Dwip having lesser ratio.

<a id=section4_3></a>

#### 4.3 Population of different types of age groups in India

In [29]:
age_group_state_data = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['AGE_GROUP_0_29','AGE_GROUP_30_49','AGE_GROUP_50']].sum().rename(columns={'AGE_GROUP_0_29':'0-29 YEARS','AGE_GROUP_30_49':'30-49 YEARS','AGE_GROUP_50':'50 YEARS & ABOVE'})

In [32]:
trace1 = go.Bar(
    x=age_group_state_data.index,
    y=age_group_state_data["0-29 YEARS"],
    name='0-29'
     
)
trace2 = go.Bar(
    x=age_group_state_data.index,
    y=age_group_state_data["30-49 YEARS"],
    name='30-49'
)
trace3 = go.Bar(
    x=age_group_state_data.index,
    y=age_group_state_data["50 YEARS & ABOVE"],
    name='>50'
)

data = [trace1, trace2, trace3]

layout = go.Layout(
    barmode='stack',
    title='AGE Distribution'
)


fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

- UttarPradesh having largest population over all the age group.
- Bihar having largest 0-29 age group after Uttar pradesh, followed by Maharastra, West Bangal.
- Maharastra having largest 30-49 age group after Uttar pradesh, followed by West Bangal, Andhara pradesh.
- Maharastra having largest >50 age group after Uttar pradesh, followed by West Bangal, Andhara pradesh.
- DAMAN AND DIU ,DADRA AND NAGAR HAVELI,Sikkim having smallest population among all the age group.

<a id=section4_4></a>

#### 4.4 Different age group percentage in India

In [30]:
AGPI   = dataset_cencus_housing_elementry_GDP[['AGE_GROUP_0_29','AGE_GROUP_30_49','AGE_GROUP_50']].rename(columns={'AGE_GROUP_0_29':'0-29 YEARS','AGE_GROUP_30_49':'30-49 YEARS','AGE_GROUP_50':'50 YEARS & ABOVE'}).sum()
AGPIdf = pd.DataFrame(AGPI)
AGPIdf = AGPIdf.rename(columns={0:'AGE'})

In [31]:
labels = AGPIdf.index
values = AGPIdf["AGE"]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

<a id=section4_5></a>

#### 4.5 Religion's distribution in India

In [33]:
IRPdf  = dataset_cencus_housing_elementry_GDP[['HINDUS','MUSLIMS','CHRISTIANS','SIKHS','BUDDHISTS','JAINS','OTHERS_RELIGIONS']].sum()
IRPdfg = pd.DataFrame(IRPdf)
IRPdfg = IRPdfg.rename(columns={0:'RELIGIONS'})

In [34]:
labels = IRPdfg.index
values = IRPdfg["RELIGIONS"]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

In [35]:
IRPdf_line  = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['HINDUS','MUSLIMS','CHRISTIANS','SIKHS','BUDDHISTS','JAINS','OTHERS_RELIGIONS']].sum()

In [36]:

trace1 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[0]],
    name='Hindu'
)
trace2 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[1]],
    name='Muslim'
)
trace3 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[2]],
    name='Christans'
)
trace4 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[3]],
    name='Sikh'
)
trace5 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[4]],
    name='Buddists'
)
trace6 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[5]],
    name='Jain'
)
trace7 = go.Bar(
    x=IRPdf_line.index,
    y=IRPdf_line[IRPdf_line.columns[6]],
    name='Other'
)

data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7]

layout = go.Layout(
    barmode='stack',
    title='Religion Population'
)


fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

- UTTAR PRADESH having larest population for 'Hindu', 'Muslim' religion.
- Panjab having largest population for 'Sikh'.
- Kerla , Tamilnadu having largest population for 'Christans'.
- Maharastra, Madhya pradesh , Gujarat  having largest population for 'Jain'.
- Maharastra,West Bengal and Arunachal pradesh having largest population for 'Buddists'.
- Aasam having largest % of 'Muslim' Population.
- Manipur having Almost same 'Hindu' and 'Christans'.

<a id=section4_6></a>

#### 4.6 State wise SC populations percentage in India

In [37]:
SWSPIIdfg = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['SC']].sum()

In [38]:
labels = SWSPIIdfg.index
values = SWSPIIdfg["SC"]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

In [39]:
data = [go.Bar(
            x=SWSPIIdfg.index,
            y=SWSPIIdfg["SC"]
    )]

py.iplot(data, filename='basic-bar')

- Uttar pradesh,West Bengal, Bihar having largest population for SC.
- Nagaland, Lakshdwip, Arunachal pradeh having least population for SC.

<a id=section4_7></a>

#### 4.7 State wise ST populations percentage in India

In [40]:
SWSPIIdfg = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['ST']].sum()

In [41]:
labels = SWSPIIdfg.index
values = SWSPIIdfg["ST"]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

In [42]:
data = [go.Bar(
            x=SWSPIIdfg.index,
            y=SWSPIIdfg["ST"]
    )]

py.iplot(data, filename='basic-bar')

- Madhya Pradesh, Maharastra , Odisha having largest population for ST.
- Daman & dip, Andaman & Nikobar, Lakshadwep having least population for ST.

<a id=section4_8></a>

#### 4.8 Literacy Rate in different states of India

In [43]:
dataset_cencus_housing_elementry_GDP['LITERACY RATE'] = dataset_cencus_housing_elementry_GDP['LITERATE']/dataset_cencus_housing_elementry_GDP['POPULATION']*100
SWLRIIdfg = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['LITERACY RATE']].mean().round(2)

In [44]:
data = [go.Bar(
            x=SWLRIIdfg.index,
            y=SWLRIIdfg["LITERACY RATE"]
    )]

py.iplot(data, filename='basic-bar')

- Kerala, Lakshdweep, Goa having most litrate population.
- Bihar, Jharkhand and Arunachal pradesh having least litrate population.

<a id=section4_9></a>

#### 4.9 Types of education level attended populations in different states of India

In [45]:
TELAPS = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['BELOW_PRIMARY_EDUCATION','PRIMARY_EDUCATION','MIDDLE_EDUCATION','SECONDARY_EDUCATION','HIGHER_EDUCATION','GRADUATE_EDUCATION','OTHER_EDUCATION']].sum()

In [46]:
trace1 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['BELOW_PRIMARY_EDUCATION'],
    name="BELOW_PRIMARY_EDUCATION"
)
trace2 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['PRIMARY_EDUCATION'],
    name="PRIMARY_EDUCATION"
)
trace3 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['MIDDLE_EDUCATION'],
    name="MIDDLE_EDUCATION"
)
trace4 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['SECONDARY_EDUCATION'],
    name="SECONDARY_EDUCATION"
)
trace5 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['HIGHER_EDUCATION'],
    name="HIGHER_EDUCATION"
)
trace6 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['GRADUATE_EDUCATION'],
    name="GRADUATE_EDUCATION"
)
trace7 = go.Scatter(
    x = TELAPS.index,
    y = TELAPS['OTHER_EDUCATION'],
    name="OTHER_EDUCATION"
)

data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7]

py.iplot(data, filename='basic-line')

- Uttar pradesh , Maharastra, Tamilnadu having largest population for "Grduate Education".
- Maharastra, Uttar pradesh having largest population for "Secondary Education".
- Uttar pradesh ,Bihar , Madhya Pradesh having larest population for "Below Primary Education".

<a id=section4_10></a>

#### 4.10 Populations of different Types of Workers In different states of India

In [47]:
PODTWI = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['MAIN_WORKERS','MARGINAL_WORKERS','CULTIVATOR_WORKERS','AGRICULTURAL_WORKERS','HOUSEHOLD_WORKERS','NON_WORKERS']].sum()

In [48]:
trace1 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['MAIN_WORKERS'],
    name="MAIN_WORKERS",
    fill='tozeroy'
)
trace2 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['MARGINAL_WORKERS'],
    name="MARGINAL_WORKERS",
    fill='tonexty'
)
trace3 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['CULTIVATOR_WORKERS'],
    name="CULTIVATOR_WORKERS",
    fill='tonexty'
)
trace4 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['AGRICULTURAL_WORKERS'],
    name="AGRICULTURAL_WORKERS",
    fill='tonexty'
)
trace5 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['HOUSEHOLD_WORKERS'],
    name="HOUSEHOLD_WORKERS",
    fill='tonexty'
)
trace6 = go.Scatter(
    x = PODTWI.index,
    y = PODTWI['NON_WORKERS'],
    name="NON_WORKERS",
    fill='tonexty'
)


data = [trace1, trace2, trace3, trace4, trace5, trace6]

py.iplot(data, filename='basic-area')

- Uttar Pradesh, Maharastra , Andhra Pradesh having largest population for 'Main Workers'
- Uttar Pradesh, Bihar , Andhra Pradesh having largest population for 'Arguculture Workers'
- Uttar Pradesh, West Bengal , Andhra Pradesh having largest population for 'HouseHold Workers'
- Uttar Pradesh, Rajsthan , Maharastra having largest population for 'Cultivator Workers'

<a id=section4_11></a>

#### 4.11 State wise house hold size in different states of India

In [49]:
SWHSIDS = dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['HOUSEHOLD_SIZE_1_PERSON_HOUSEHOLDS','HOUSEHOLD_SIZE_1_TO_2_PERSONS','HOUSEHOLD_SIZE_2_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_3_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_3_TO_5_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_4_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_5_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_6_8_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_9_PERSONS_AND_ABOVE_HOUSEHOLDS']].sum().rename(columns={'HOUSEHOLD_SIZE_1_PERSON_HOUSEHOLDS':'1 Person','HOUSEHOLD_SIZE_1_TO_2_PERSONS':'1-2 Persons','HOUSEHOLD_SIZE_2_PERSONS_HOUSEHOLDS':'2 Persons','HOUSEHOLD_SIZE_3_PERSONS_HOUSEHOLDS':'3 Persons','HOUSEHOLD_SIZE_3_TO_5_PERSONS_HOUSEHOLDS':'3-5 Persons','HOUSEHOLD_SIZE_4_PERSONS_HOUSEHOLDS':'4 Persons','HOUSEHOLD_SIZE_5_PERSONS_HOUSEHOLDS':'5 Persons','HOUSEHOLD_SIZE_6_8_PERSONS_HOUSEHOLDS':'6-8 Persons','HOUSEHOLD_SIZE_9_PERSONS_AND_ABOVE_HOUSEHOLDS':'9 Persons & Above'})

In [50]:
data =[]

for column in SWHSIDS.columns:
    data.append(go.Scatter(
    x = SWHSIDS.index,
    y = SWHSIDS[column],
    name=column,
    ))
py.iplot(data, filename='basic-line')

- Andra Pradesh, Maharastra, TamilNadu having largest population for '1- person' family.
- Uttar Pradesh, Bihar , Maharastra having largest population for '6-8 person' family.

<a id=section4_12></a>

#### 4.12 State wise population percentage having different drinking water source in India

In [51]:
SWPPHDWF =  dataset_cencus_housing_elementry_GDP.groupby(['STATE NAME'])[['DW_TFTS','DW_TFUS','DW_CW','DW_UW','DW_HANDPUMP','DW_TB','DW_SPRING','DW_RC','DW_TPL','DW_OS']].mean().round(2).rename(columns={'DW_TFTS':'Tap water treated source','DW_TFUS':'Tap water untreated source','DW_CW':'Covered well','DW_UW':'Uncovered Well','DW_HANDPUMP':'Handpump','DW_TB':'Tubewell','DW_SPRING':'Spring','DW_RC':'River/Canal','DW_TPL':'Tank/Lake','DW_OS':'Other source'})

In [52]:
data =[]
fill=lambda x: 'tozeroy' if(i==0) else 'tonexty'
i=0
for column in SWPPHDWF.columns:
    data.append(go.Scatter(
    x = SWPPHDWF.index,
    y = SWPPHDWF[column],
    name=column,
    fill = fill(i)
    ))
    i+=1
py.iplot(data, filename='basic-area')

- Bihar , Uttarpradesh, Chhattisgadh having largest % for 'Handpump' water Source.
- Manipur, Mizoram, Jammu & Kasmir having largest % for 'River/Canal' water Source.
- Meghalay, Mizoram, Sikkim having largest % for 'spring' water source.

<a id=section4_13></a>

#### 4.13 State wise Total GDP over the years

In [53]:
gdp_state_period  =INDIA_GDP_dataset[['1999-00', '2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05', '2005-06']].groupby('STATE NAME').sum()

In [54]:
data =[]

for column in gdp_state_period.index:
    data.append(go.Scatter(
    x = gdp_state_period.columns,
    y = gdp_state_period.loc[column],
    name=column,
    ))
layout = go.Layout(
    barmode='stack',
    title='States GDP over the years'
)


fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

- Maharastra, UttarPradesh, West Bengal, Andra Pradesh having largest GDP over the years.
- Sikkim, Mizoram , Arunachal Pradesh having least GDP over the years.

<a id=section4_14></a>

#### 4.14 constant 10 max GDP over the years [District Level]

In [55]:
INDIA_GDP_dataset_large=INDIA_GDP_dataset[:].astype(str).astype(float).iloc[:,:6]
INDIA_GDP_dataset_large=INDIA_GDP_dataset_large.nlargest(10,columns=INDIA_GDP_dataset_large.columns)

In [56]:
data =[]

for column in range(len(INDIA_GDP_dataset_large.index)):
    data.append(go.Scatter(
    x = INDIA_GDP_dataset_large.columns,
    y = INDIA_GDP_dataset_large.iloc[column],
    name=INDIA_GDP_dataset_large.index.values[column][1]+'<='+INDIA_GDP_dataset_large.index.values[column][0]
    ))
    
py.iplot(data, filename='basic-line')

<a id=section4_15></a>

#### 4.15 constant 10 min GDP over the years [District Level]

In [57]:
INDIA_GDP_dataset_small=INDIA_GDP_dataset[:].astype(str).astype(float).iloc[:,:6]
INDIA_GDP_dataset_small=INDIA_GDP_dataset_small.nsmallest(10,columns=INDIA_GDP_dataset_large.columns)

In [58]:
data =[]

for column in range(len(INDIA_GDP_dataset_small.index)):
    data.append(go.Scatter(
    x = INDIA_GDP_dataset_small.columns,
    y = INDIA_GDP_dataset_small.iloc[column],
    name=INDIA_GDP_dataset_small.index.values[column][1]+'<='+INDIA_GDP_dataset_small.index.values[column][0]
    ))

py.iplot(data, filename='basic-line')

<a id=section4_16></a>

#### 4.16  constant 10 max GR over the years with respect to '2005-06' [District Level]

In [59]:
INDIA_GR_dataset_large=INDIA_GR_dataset[:].astype(str).astype(float).iloc[:,:6]
INDIA_GR_dataset_large=INDIA_GR_dataset_large.nlargest(10,columns='2005-06')

In [60]:
drowLineChart(INDIA_GR_dataset_large,'10 max GR over the years with respect to 2005-06 year')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

<a id=section4_17></a>

#### 4.17 constant 10 min GR over the years with respect to 2005-06 year [District Level]

In [61]:
INDIA_GR_dataset_small=INDIA_GR_dataset[:].astype(str).astype(float).iloc[:,:6]
INDIA_GR_dataset_small=INDIA_GR_dataset_small.nsmallest(10,columns='2005-06')

In [62]:
drowLineChart(INDIA_GR_dataset_small,'10 min GR over the years with respect to 2005-06 year')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ankur00000/0 or inside your plot.ly account where it is named 'grouped-bar'

<a id=section4_18></a>

#### 4.18  Constant 10 max/min GDP over the years, why?

##### Based on below parameter


- 1 Area
- 2 Population
- 3 Workers
    - a) Total
    - b) 'MALE_WORKERS','FEMALE_WORKERS'
    - c) Type of Workers 
- 4 Household
   -  a) Types of household 
   -  b) Resource of household 
   -  c) ownership of household 
   -  d) size of household 
   -  e) couple of household 
- 5 based on Age Group 
- 6 based on power parity

<a id=section4_18_0></a>

##### 4.18.0 Pre defined Functions

In [63]:
def getSmallerGDPData(dataset):
    data =[]

    for i in range(len(INDIA_GDP_dataset_small.index.values)):
        try:
            data.append([INDIA_GDP_dataset_small.index.values[i][0],INDIA_GDP_dataset_small.index.values[i][1]] + dataset.loc[INDIA_GDP_dataset_small.index.values[i][0],INDIA_GDP_dataset_small.index.values[i][1]].values.tolist())
        except:
            print("Error in for loop at iteration no : ",i)
    smaller_gdp_data=pd.DataFrame(data,columns=['STATE NAME','DISTRICT NAME']+dataset.columns.values.tolist())
    smaller_gdp_data.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
    return smaller_gdp_data

def getLargerGDPData(dataset):
    data =[]

    for i in range(len(INDIA_GDP_dataset_large.index.values)):
        try:
            data.append([INDIA_GDP_dataset_large.index.values[i][0],INDIA_GDP_dataset_large.index.values[i][1]] + dataset.loc[INDIA_GDP_dataset_large.index.values[i][0],INDIA_GDP_dataset_large.index.values[i][1]].values.tolist())
        except:
            print("Error in for loop at iteration no : ",i)
    larger_gdp_data=pd.DataFrame(data,columns=['STATE NAME','DISTRICT NAME']+dataset.columns.values.tolist())
    larger_gdp_data.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
    return larger_gdp_data

In [64]:
def getDataForSubplot(dataset,graphName):
    data =[]

    for column in dataset.columns:
        data.append(go.Scatter(
        x = dataset.index.get_level_values(1).values,
        y = dataset[column],
        name=column,
        ))
   
    return data

In [65]:
def plotSubplot(dataList,titleList,htmlName,docTital,parameterList):
    fichier_html_graphs=open(htmlName,'w')
    fichier_html_graphs.write("<html><head>")
   # fichier_html_graphs.write(docTital)
    fichier_html_graphs.write("</head><body>"+"\n")

    for i in range(len(dataList)):
        #______________________________--Plotly--______________________________________


        color1 = '#00bfff'
        color2 = '#ff4000'

        data = dataList[i]

        layout = go.Layout(
            title= (titleList[i]),
            titlefont=dict(
            family='Courier New, monospace',
            size=15,
            color='#7f7f7f'
            ),
            paper_bgcolor='rgba(0,0,0,0)',
            plot_bgcolor='rgba(0,0,0,0)',

            yaxis=dict(
                title=parameterList[i],
                titlefont=dict(
                    color=color1
                ),
                tickfont=dict(
                    color=color1
                )
            ),
            yaxis2=dict(
                title='Ratio %',
                overlaying='y',
                side='right',
                titlefont=dict(
                    color=color2
                ),
                tickfont=dict(
                    color=color2
                )

            )

        )
        fig = go.Figure(data=data, layout=layout)
        plotly.offline.plot(fig, filename=titleList[i]+'.html',auto_open=False)
        fichier_html_graphs.write("  <object data=\""+titleList[i]+'.html'+"\" width=\"650\" height=\"600\"></object>"+"\n")
    fichier_html_graphs.write("</body></html>")
    print("Check your"+ htmlName +"In the current directory")

<a id=section4_18_1></a>

###### 4.18.1 Area

In [66]:
dataset_cencus_housing_elementry_GDP.rename(columns={'AREA (SQ. KM) (AREA SQKM)':'AREA SQKM'}, inplace= True)
dataList =[]
titleList=[]
parameterList =[]

columnsName= ['AREA SQKM']
larger_gdp_area =getDataForSubplot(getLargerGDPData(getDataSet(columnsName)),"Larger GDP/ Area")
smaller_gdp_area =getDataForSubplot(getSmallerGDPData(getDataSet(columnsName)),"Smaller GDP/ Area")

dataList = [larger_gdp_area, smaller_gdp_area]
titleList = ["Larger GDP Reason Area","Smaller GDP Reason Area"]
parameterList = ["Area SQKM","Area SQKM"]

- Area is not much greater factor for largest/least GDP at District Level.

<a id=section4_18_2></a>

#### 4.18.2 Population

In [67]:
columnsName= ['POPULATION']

larger_gdp_population =getDataForSubplot(getLargerGDPData(getDataSet(columnsName)),"Larger GDP/ Population")
smaller_gdp_population =getDataForSubplot(getSmallerGDPData(getDataSet(columnsName)),"Smaller GDP/ Population")

dataList = dataList+ [larger_gdp_population, smaller_gdp_population]
titleList = titleList+ ["Larger GDP Reason Population","Smaller GDP Reason Population"]
parameterList = parameterList + ["Population","Population"]

- Population is a good factor for largest/least GDP at District Level.

<a id=section4_18_3></a>

#### 4.18.3 Workers

<a id=section4_18_3a></a>

- a) Total

In [68]:
columnsName= ['WORKERS']

larger_gdp_total_worker =getDataForSubplot(getLargerGDPData(getDataSet(columnsName)),"Larger GDP/ Total Worker")
smaller_gdp_total_worker =getDataForSubplot(getSmallerGDPData(getDataSet(columnsName)),"Smaller GDP/ Total Worker")

dataList = dataList+ [larger_gdp_total_worker, smaller_gdp_total_worker]
titleList = titleList+ ["Larger GDP  Reason Total Worker","Smaller GDP  Reason Total Worker"]
parameterList = parameterList + ["Total Worker","Total Worker"]

- Total Workers is a good factor for largest/least GDP at District Level.

<a id=section4_18_3b></a>

- b) 'MALE_WORKERS','FEMALE_WORKERS'

In [69]:
columnsName= ['MALE_WORKERS','FEMALE_WORKERS']

larger_gdp_gender_worker =getDataForSubplot(getLargerGDPData(getDataSet(columnsName)),"Larger GDP/ Gender Worker")
smaller_gdp_gender_worker =getDataForSubplot(getSmallerGDPData(getDataSet(columnsName)),"Smaller GDP/ Gender Worker")

dataList = dataList+ [larger_gdp_gender_worker, smaller_gdp_gender_worker]
titleList = titleList+ ["Larger GDP  Reason Gender Worker","Smaller GDP  Reason Gender Worker"]
parameterList = parameterList + ["Gender Worker","Gender Worker"]

- Male worker is always greater than Female worker.
- Gender Worker (Catogery) is a good factor for largest/least GDP at District Level.

<a id=section4_18_3c></a>

- c) Type of Workers

In [70]:
columnsName= ['MAIN_WORKERS','MARGINAL_WORKERS','NON_WORKERS','CULTIVATOR_WORKERS','AGRICULTURAL_WORKERS','HOUSEHOLD_WORKERS','OTHER_WORKERS']

larger_gdp_type_worker =getDataForSubplot(getLargerGDPData(getDataSet(columnsName)),"Larger GDP/ Type Worker")
smaller_gdp_type_worker =getDataForSubplot(getSmallerGDPData(getDataSet(columnsName)),"Smaller GDP/ Type Worker")

dataList = dataList+ [larger_gdp_type_worker, smaller_gdp_type_worker]
titleList = titleList+ ["Larger GDP Reason Type Worker","Smaller GDP Reason Type Worker"]
parameterList = parameterList + ["Type Worker","Type Worker"]

<a id=section4_18_4></a>

#### 4.18.4 Household

<a id=section4_18_4a></a>

   -  a) Facility of household

In [71]:
columnsName= ['LPG_OR_PNG_HOUSEHOLDS','HOUSHOLDS_WITH_ELECTRIC_LIGHTING','HOUSEHOLDS_WITH_INTERNET','HOUSEHOLDS_WITH_COMPUTER','RURAL_HOUSEHOLDS','URBAN_HOUSEHOLDS','HOUSEHOLDS']
larger_gdp_facility=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_facility=getSmallerGDPData(getDataSet(columnsName))

larger_gdp_facility.rename(columns={    'LPG_OR_PNG_HOUSEHOLDS':'LPG/PNG',    'HOUSHOLDS_WITH_ELECTRIC_LIGHTING' :'Electric',    'HOUSEHOLDS_WITH_INTERNET':'INERNET',    'HOUSEHOLDS_WITH_COMPUTER':'COMPUTER',    'RURAL_HOUSEHOLDS':'RURAL',    'URBAN_HOUSEHOLDS':'URBAN'},inplace =True)
smaller_gdp_facility.rename(columns={    'LPG_OR_PNG_HOUSEHOLDS':'LPG/PNG',    'HOUSHOLDS_WITH_ELECTRIC_LIGHTING' :'Electric',    'HOUSEHOLDS_WITH_INTERNET':'INERNET',    'HOUSEHOLDS_WITH_COMPUTER':'COMPUTER',    'RURAL_HOUSEHOLDS':'RURAL',    'URBAN_HOUSEHOLDS':'URBAN'},inplace =True)

larger_gdp_facility_household =getDataForSubplot(larger_gdp_facility,"Larger GDP/ Facility household")
smaller_gdp_facility_household =getDataForSubplot(smaller_gdp_facility,"Smaller GDP/ Facility household")

dataList = dataList+ [larger_gdp_facility_household, smaller_gdp_facility_household]
titleList = titleList+ ["Larger GDP  Facility household","Smaller GDP  Facility household"]
parameterList = parameterList + ["Facility household","Facility household"]

<a id=section4_18_4b></a>

   -  b) Resource of household

In [72]:
columnsName= ['HOUSEHOLDS_WITH_BICYCLE','HOUSEHOLDS_WITH_CAR_JEEP_VAN','HOUSEHOLDS_WITH_RADIO_TRANSISTOR','HOUSEHOLDS_WITH_SCOOTER_MOTORCYCLE_MOPED','HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_LANDLINE_ONLY','HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_MOBILE_ONLY','HOUSEHOLDS_WITH_TV_COMPUTER_LAPTOP_TELEPHONE_MOBILE_PHONE_AND_SCOOTER_CAR','HOUSEHOLDS_WITH_TELEVISION','HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE','HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_BOTH','CONDITION_OF_OCCUPIED_CENSUS_HOUSES_DILAPIDATED_HOUSEHOLDS','HOUSEHOLDS_WITH_SEPARATE_KITCHEN_COOKING_INSIDE_HOUSE','HAVING_BATHING_FACILITY_TOTAL_HOUSEHOLDS','HAVING_LATRINE_FACILITY_WITHIN_THE_PREMISES_TOTAL_HOUSEHOLDS']
larger_gdp_resource=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_resource=getSmallerGDPData(getDataSet(columnsName))

larger_gdp_resource.rename(columns={    'HOUSEHOLDS_WITH_BICYCLE': 'BICYCLE',    'HOUSEHOLDS_WITH_CAR_JEEP_VAN' : 'CAR/JEEP/VAN',    'HOUSEHOLDS_WITH_RADIO_TRANSISTOR': 'RADIO/TRANSISTOR',    'HOUSEHOLDS_WITH_SCOOTER_MOTORCYCLE_MOPED': 'MOTORCYCLE',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_LANDLINE_ONLY': 'LANDLINE ONLY',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_MOBILE_ONLY': 'MOBILE ONLY',    'HOUSEHOLDS_WITH_TV_COMPUTER_LAPTOP_TELEPHONE_MOBILE_PHONE_AND_SCOOTER_CAR':'ALL',    'HOUSEHOLDS_WITH_TELEVISION':'TV',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE':'TV & PHONE',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_BOTH':'MOBILE & LANDLINE',    'CONDITION_OF_OCCUPIED_CENSUS_HOUSES_DILAPIDATED_HOUSEHOLDS':'DILAPIDATED',    'HOUSEHOLDS_WITH_SEPARATE_KITCHEN_COOKING_INSIDE_HOUSE':'SEPARATE_KITCHEN',    'HAVING_BATHING_FACILITY_TOTAL_HOUSEHOLDS':'BATHING_FACILITY',    'HAVING_LATRINE_FACILITY_WITHIN_THE_PREMISES_TOTAL_HOUSEHOLDS':'LATRINE_FACILITY'}, inplace= True)
smaller_gdp_resource.rename(columns={    'HOUSEHOLDS_WITH_BICYCLE': 'BICYCLE',    'HOUSEHOLDS_WITH_CAR_JEEP_VAN' : 'CAR/JEEP/VAN',    'HOUSEHOLDS_WITH_RADIO_TRANSISTOR': 'RADIO/TRANSISTOR',    'HOUSEHOLDS_WITH_SCOOTER_MOTORCYCLE_MOPED': 'MOTORCYCLE',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_LANDLINE_ONLY': 'LANDLINE ONLY',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_MOBILE_ONLY': 'MOBILE ONLY',    'HOUSEHOLDS_WITH_TV_COMPUTER_LAPTOP_TELEPHONE_MOBILE_PHONE_AND_SCOOTER_CAR':'ALL',    'HOUSEHOLDS_WITH_TELEVISION':'TV',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE':'TV & PHONE',    'HOUSEHOLDS_WITH_TELEPHONE_MOBILE_PHONE_BOTH':'MOBILE & LANDLINE',    'CONDITION_OF_OCCUPIED_CENSUS_HOUSES_DILAPIDATED_HOUSEHOLDS':'DILAPIDATED',    'HOUSEHOLDS_WITH_SEPARATE_KITCHEN_COOKING_INSIDE_HOUSE':'SEPARATE_KITCHEN',    'HAVING_BATHING_FACILITY_TOTAL_HOUSEHOLDS':'BATHING_FACILITY',    'HAVING_LATRINE_FACILITY_WITHIN_THE_PREMISES_TOTAL_HOUSEHOLDS':'LATRINE_FACILITY'}, inplace= True)                                    
                                       
larger_gdp_resource_household =getDataForSubplot(larger_gdp_resource,"Larger GDP/ Resource household")
smaller_gdp_resource_household =getDataForSubplot(smaller_gdp_resource,"Smaller GDP/ Resource household")

dataList = dataList+ [larger_gdp_resource_household, smaller_gdp_resource_household]
titleList = titleList+ ["Larger GDP  Resource household","Smaller GDP  Resource household"]
parameterList = parameterList + ["Resource household","Resource household"]

<a id=section4_18_4c></a>

   -  c) ownership of household

In [73]:
columnsName= ['OWNERSHIP_OWNED_HOUSEHOLDS','OWNERSHIP_RENTED_HOUSEHOLDS']
larger_gdp_owner=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_owner=getSmallerGDPData(getDataSet(columnsName))
                
larger_gdp_owner.rename(columns={    'OWNERSHIP_OWNED_HOUSEHOLDS':'OWNED',    'OWNERSHIP_RENTED_HOUSEHOLDS':'RENTED'},inplace = True)
smaller_gdp_owner.rename(columns={    'OWNERSHIP_OWNED_HOUSEHOLDS':'OWNED',    'OWNERSHIP_RENTED_HOUSEHOLDS':'RENTED'},inplace = True)
                                    
larger_gdp_owner_household =getDataForSubplot(larger_gdp_owner,"Larger GDP/ Owner household")
smaller_gdp_owner_household =getDataForSubplot(smaller_gdp_owner,"Smaller GDP/ Owner household")

dataList = dataList+ [larger_gdp_owner_household, smaller_gdp_owner_household]
titleList = titleList+ ["Larger GDP Owner household","Smaller GDP Owner household"]
parameterList = parameterList + ["Owner household","Owner household"]

<a id=section4_18_4d></a>

   -  d) size of household

In [74]:
columnsName= ['HOUSEHOLD_SIZE_1_PERSON_HOUSEHOLDS','HOUSEHOLD_SIZE_2_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_1_TO_2_PERSONS','HOUSEHOLD_SIZE_3_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_3_TO_5_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_4_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_5_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_6_8_PERSONS_HOUSEHOLDS','HOUSEHOLD_SIZE_9_PERSONS_AND_ABOVE_HOUSEHOLDS']
larger_gdp_size=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_size=getSmallerGDPData(getDataSet(columnsName))
 
larger_gdp_size.rename(columns={    'HOUSEHOLD_SIZE_1_PERSON_HOUSEHOLDS':'1_PERSON',    'HOUSEHOLD_SIZE_2_PERSONS_HOUSEHOLDS':'2_PERSON',    'HOUSEHOLD_SIZE_1_TO_2_PERSONS':'1-2_PERSON',    'HOUSEHOLD_SIZE_3_PERSONS_HOUSEHOLDS': '3_PERSONS',    'HOUSEHOLD_SIZE_3_TO_5_PERSONS_HOUSEHOLDS' : '3-5_PERSONS',    'HOUSEHOLD_SIZE_4_PERSONS_HOUSEHOLDS' : '4_PERSONS',    'HOUSEHOLD_SIZE_5_PERSONS_HOUSEHOLDS' : '5_PERSONS',    'HOUSEHOLD_SIZE_6_8_PERSONS_HOUSEHOLDS' : '6-8_PERSON',    'HOUSEHOLD_SIZE_9_PERSONS_AND_ABOVE_HOUSEHOLDS' : '>9_PERSON'}, inplace = True)                                   
smaller_gdp_size.rename(columns={    'HOUSEHOLD_SIZE_1_PERSON_HOUSEHOLDS':'1_PERSON',    'HOUSEHOLD_SIZE_2_PERSONS_HOUSEHOLDS':'2_PERSON',    'HOUSEHOLD_SIZE_1_TO_2_PERSONS':'1-2_PERSON',    'HOUSEHOLD_SIZE_3_PERSONS_HOUSEHOLDS': '3_PERSONS',    'HOUSEHOLD_SIZE_3_TO_5_PERSONS_HOUSEHOLDS' : '3-5_PERSONS',    'HOUSEHOLD_SIZE_4_PERSONS_HOUSEHOLDS' : '4_PERSONS',    'HOUSEHOLD_SIZE_5_PERSONS_HOUSEHOLDS' : '5_PERSONS',    'HOUSEHOLD_SIZE_6_8_PERSONS_HOUSEHOLDS' : '6-8_PERSON',    'HOUSEHOLD_SIZE_9_PERSONS_AND_ABOVE_HOUSEHOLDS' : '>9_PERSON'}, inplace = True)                                   
                                   
larger_gdp_size_household =getDataForSubplot(larger_gdp_size,"Larger GDP/ Size household")
smaller_gdp_size_household =getDataForSubplot(smaller_gdp_size,"Smaller GDP/ Size household")

dataList = dataList+ [larger_gdp_size_household, smaller_gdp_size_household]
titleList = titleList+ ["Larger GDP Size household","Smaller GDP Size household"]
parameterList = parameterList + ["Size household","Size household"]

<a id=section4_18_4e></a>

   -  e) couple of household

In [75]:
columnsName= ['MARRIED_COUPLES_1_HOUSEHOLDS','MARRIED_COUPLES_2_HOUSEHOLDS','MARRIED_COUPLES_3_HOUSEHOLDS','MARRIED_COUPLES_3_OR_MORE_HOUSEHOLDS','MARRIED_COUPLES_4_HOUSEHOLDS','MARRIED_COUPLES_5__HOUSEHOLDS','MARRIED_COUPLES_NONE_HOUSEHOLDS']
larger_gdp_couple=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_couple=getSmallerGDPData(getDataSet(columnsName))
              
larger_gdp_couple.rename(columns={    'MARRIED_COUPLES_1_HOUSEHOLDS':'1_Couples',    'MARRIED_COUPLES_2_HOUSEHOLDS':'2_Couples',    'MARRIED_COUPLES_3_HOUSEHOLDS':'3_Couples',    'MARRIED_COUPLES_3_OR_MORE_HOUSEHOLDS':'>3_Couples',    'MARRIED_COUPLES_4_HOUSEHOLDS':'4_Couples',    'MARRIED_COUPLES_5__HOUSEHOLDS':'5_Couples',    'MARRIED_COUPLES_NONE_HOUSEHOLDS':'0_Couples'},inplace= True)
smaller_gdp_couple.rename(columns={    'MARRIED_COUPLES_1_HOUSEHOLDS':'1_Couples',    'MARRIED_COUPLES_2_HOUSEHOLDS':'2_Couples',    'MARRIED_COUPLES_3_HOUSEHOLDS':'3_Couples',    'MARRIED_COUPLES_3_OR_MORE_HOUSEHOLDS':'>3_Couples',    'MARRIED_COUPLES_4_HOUSEHOLDS':'4_Couples',    'MARRIED_COUPLES_5__HOUSEHOLDS':'5_Couples',    'MARRIED_COUPLES_NONE_HOUSEHOLDS':'0_Couples'},inplace= True)
                                     
larger_gdp_couple_household =getDataForSubplot(larger_gdp_couple,"Larger GDP/ Couple household")
smaller_gdp_couple_household =getDataForSubplot(smaller_gdp_couple,"Smaller GDP/ Couple household")

dataList = dataList+ [larger_gdp_couple_household, smaller_gdp_couple_household]
titleList = titleList+ ["Larger GDP Couple household","Smaller GDP Couple household"]
parameterList = parameterList + ["Couple household","Couple household"]

<a id=section4_18_5></a>

#### 4.18.5 based on Age Group

In [76]:
columnsName= ['AGE_GROUP_0_29','AGE_GROUP_30_49','AGE_GROUP_50','AGE NOT STATED']
larger_gdp_age=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_age=getSmallerGDPData(getDataSet(columnsName))

larger_gdp_age.rename(columns={    'AGE_GROUP_0_29':'0-29',    'AGE_GROUP_30_49':'30-49',    'AGE_GROUP_50':'>50',    'AGE NOT STATED':'NOT STATED'})
smaller_gdp_age.rename(columns={    'AGE_GROUP_0_29':'0-29',    'AGE_GROUP_30_49':'30-49',    'AGE_GROUP_50':'>50',    'AGE NOT STATED':'NOT STATED'})
                                  
larger_gdp_age_group =getDataForSubplot(larger_gdp_age,"Larger GDP/ Age Group")
smaller_gdp_age_group =getDataForSubplot(smaller_gdp_age,"Smaller GDP/ Age Group")

dataList = dataList+ [larger_gdp_age_group, smaller_gdp_age_group]
titleList = titleList+ ["Larger GDP Couple household","Smaller GDP Couple household"]
parameterList = parameterList + ["Age Group ","Age Group"]

<a id=section4_18_6></a>

#### 4.18.6 based on power parity

In [77]:
columnsName= ['POWER_PARITY_LESS_THAN_RS_45000','POWER_PARITY_RS_45000_90000','POWER_PARITY_RS_90000_150000','POWER_PARITY_RS_45000_150000','POWER_PARITY_RS_150000_240000','POWER_PARITY_RS_240000_330000','POWER_PARITY_RS_150000_330000','POWER_PARITY_RS_330000_425000','POWER_PARITY_RS_425000_545000','POWER_PARITY_RS_330000_545000','POWER_PARITY_ABOVE_RS_545000','TOTAL_POWER_PARITY']
larger_gdp_power=getLargerGDPData(getDataSet(columnsName))
smaller_gdp_power=getSmallerGDPData(getDataSet(columnsName))

larger_gdp_power.rename(columns={    'POWER_PARITY_LESS_THAN_RS_45000':'< RS_45000',    'POWER_PARITY_RS_45000_90000':'RS_45000-90000',    'POWER_PARITY_RS_90000_150000':'RS_90000-150000',    'POWER_PARITY_RS_45000_150000':'RS_45000-150000',    'POWER_PARITY_RS_150000_240000':'RS_150000-240000',    'POWER_PARITY_RS_240000_330000' : 'RS_240000-330000',    'POWER_PARITY_RS_150000_330000':'RS_150000-330000',    'POWER_PARITY_RS_330000_425000' : 'RS_330000-425000',    'POWER_PARITY_RS_425000_545000' : 'RS_425000_545000',    'POWER_PARITY_RS_330000_545000': 'RS_330000-545000',    'POWER_PARITY_ABOVE_RS_545000':'>RS_545000',    'TOTAL_POWER_PARITY':'Total'},inplace = True)                                    
smaller_gdp_power.rename(columns={    'POWER_PARITY_LESS_THAN_RS_45000':'< RS_45000',    'POWER_PARITY_RS_45000_90000':'RS_45000-90000',    'POWER_PARITY_RS_90000_150000':'RS_90000-150000',    'POWER_PARITY_RS_45000_150000':'RS_45000-150000',    'POWER_PARITY_RS_150000_240000':'RS_150000-240000',    'POWER_PARITY_RS_240000_330000' : 'RS_240000-330000',    'POWER_PARITY_RS_150000_330000':'RS_150000-330000',    'POWER_PARITY_RS_330000_425000' : 'RS_330000-425000',    'POWER_PARITY_RS_425000_545000' : 'RS_425000_545000',    'POWER_PARITY_RS_330000_545000': 'RS_330000-545000',    'POWER_PARITY_ABOVE_RS_545000':'>RS_545000',    'TOTAL_POWER_PARITY':'Total'},inplace = True)                                                                        

larger_gdp_power_parity =getDataForSubplot(larger_gdp_power,"Larger GDP/ Power Parity")
smaller_gdp_power_parity =getDataForSubplot(smaller_gdp_power,"Smaller GDP/ Power Parity")

dataList = dataList+ [larger_gdp_couple_household, smaller_gdp_couple_household]
titleList = titleList+ ["Larger GDP Power Parity","Smaller GDP Power Parity"]
parameterList = parameterList + ["Power Parity","Power Parity"]

In [78]:
htmlName = "India_GDP_Analysis.html"
docTital ="GDP - India"

plotSubplot(dataList,titleList,htmlName,docTital,parameterList)

Check yourIndia_GDP_Analysis.htmlIn the current directory

<a id=section4_19></a>

#### 4.19 constant 10 max/min growth rate over the years, why ?

##### Based on below parameter


- 1 Area
- 2 Population
- 3 Literacy
- 4 Sex Ratio
- 5 % SC/ST Population

In [79]:
def getSmallerGRData(dataset):
    data =[]

    for i in range(len(INDIA_GR_dataset_small.index.values)):
        try:
            data.append([INDIA_GR_dataset_small.index.values[i][0],INDIA_GR_dataset_small.index.values[i][1]] + dataset.loc[INDIA_GR_dataset_small.index.values[i][0],INDIA_GR_dataset_small.index.values[i][1]].values.tolist())
        except:
            print()#"Error in for loop at iteration no : ",i)
    smaller_gr_data=pd.DataFrame(data,columns=['STATE NAME','DISTRICT NAME']+dataset.columns.values.tolist())
    smaller_gr_data.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
    return smaller_gr_data

def getLargerGRData(dataset):
    data =[]

    for i in range(len(INDIA_GR_dataset_large.index.values)):
        try:
            data.append([INDIA_GR_dataset_large.index.values[i][0],INDIA_GR_dataset_large.index.values[i][1]] + dataset.loc[INDIA_GR_dataset_large.index.values[i][0],INDIA_GR_dataset_large.index.values[i][1]].values.tolist())
        except:
            print()#"getLargerGRData:::Error in for loop at iteration no : ",i)
    larger_gr_data=pd.DataFrame(data,columns=['STATE NAME','DISTRICT NAME']+dataset.columns.values.tolist())
    larger_gr_data.set_index(['STATE NAME','DISTRICT NAME'],inplace = True)
    return larger_gr_data

<a id=section4_19_1></a>

#### 4.19.1 Area

In [80]:
dataList_GR =[]
titleList_GR=[]
parameterList_GR =[]

columnsName= ['AREA SQKM']
larger_gr_area =getDataForSubplot(getLargerGRData(getDataSet(columnsName)),"Larger GR/ Area")
smaller_gr_area =getDataForSubplot(getSmallerGRData(getDataSet(columnsName)),"Smaller GR/ Area")

dataList_GR = [larger_gr_area, smaller_gr_area]
titleList_GR = ["Larger GR : Reason Area","Smaller GR : Reason Area"]
parameterList_GR = ["Area SQKM","Area SQKM"]

<a id=section4_19_2></a>

#### 4.19.2 Population

In [81]:
columnsName= ['POPULATION']

larger_gr_population =getDataForSubplot(getLargerGRData(getDataSet(columnsName)),"Larger GR/ Population")
smaller_gr_population =getDataForSubplot(getSmallerGRData(getDataSet(columnsName)),"Smaller GR/ Population")

dataList_GR = dataList_GR+ [larger_gr_population, smaller_gr_population]
titleList_GR = titleList_GR+ ["Larger GR : Reason Population","Smaller GR : Reason Population"]
parameterList_GR = parameterList_GR + ["Population","Population"]

<a id=section4_19_3></a>

#### 4.19.3 Literacy

In [82]:
columnsName =['OVERALL LITERACY','FEMALE LITERACY','MALE LITERACY']
larger_gr_literacy =getDataForSubplot(getLargerGRData(getDataSet(columnsName)),"Larger GR/ Literacy")
smaller_gr_literacy =getDataForSubplot(getSmallerGRData(getDataSet(columnsName)),"Smaller GR/ Literacy")

dataList_GR = dataList_GR+ [larger_gr_literacy, smaller_gr_literacy]
titleList_GR = titleList_GR+ ["Larger GR : Reason Literacy","Smaller GR : Reason Literacy"]
parameterList_GR = parameterList_GR + ["Literacy","Literacy"]

<a id=section4_19_4></a>

#### 4.19.4 Sex Ratio

In [83]:
columnsName =['SEX RATIO']
larger_gr_sex_ratio =getDataForSubplot(getLargerGRData(getDataSet(columnsName)),"Larger GR/ SEX RATIO")
smaller_gr_sex_ratio =getDataForSubplot(getSmallerGRData(getDataSet(columnsName)),"Smaller GR/ SEX RATIO")

dataList_GR = dataList_GR+ [larger_gr_sex_ratio, smaller_gr_sex_ratio]
titleList_GR = titleList_GR+ ["Larger GR : Reason SEX RATIO","Smaller GR : Reason SEX RATIO"]
parameterList_GR = parameterList_GR + ["Population","SEX RATIO"]

<a id=section4_19_5></a>

#### 4.19.5 % SC/ST Population

In [84]:
columnsName =['PERCENTAGE SC POPULATION','PERCENTAGE ST POPULATION']

larger_gr_sc_st=getLargerGRData(getDataSet(columnsName))
smaller_gr_sc_st=getSmallerGRData(getDataSet(columnsName))

larger_gr_sc_st.rename(columns={    'PERCENTAGE SC POPULATION':'% SC',    'PERCENTAGE ST POPULATION':'% ST'},inplace =True)
smaller_gr_sc_st.rename(columns={    'PERCENTAGE SC POPULATION':'% SC',    'PERCENTAGE ST POPULATION':'% ST'},inplace =True)

larger_gr_sc_st_per =getDataForSubplot(larger_gr_sc_st,"Larger GR/SC_ST_Population")
smaller_gr_sc_st_per=getDataForSubplot(smaller_gr_sc_st,"Smaller GR/SC_ST_Population")

dataList_GR = dataList_GR+ [larger_gr_sc_st_per, smaller_gr_sc_st_per]
titleList_GR = titleList_GR+ ["Larger_GR_Reason_SC_ST_Population","Smaller GR _ Reason SC_ST_Population"]
parameterList_GR = parameterList_GR + ["SC/ST Population","SC/ST Population"]

In [85]:
htmlName_GR = "India_GR_Analysis.html"
docTital_GR ="GR - India"

plotSubplot(dataList_GR,titleList_GR,htmlName_GR,docTital_GR,parameterList_GR)

Check yourIndia_GR_Analysis.htmlIn the current directory

<a id=section5></a>

### 5. Conclusion

- With the help of this Analysis we found basic knowledge for Area,Population,Religion,sex ratio ... for the states.
- We found the top ten largest & least GDP district and factors behind it.
- We found the top ten largest & least GR district and factors behind it.